@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Jersey+25&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-jersey-15 {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-jersey-10 {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

.font-jersey-20 {
  font-family: "Jersey 20", serif;
  font-weight: 400;
  font-style: normal;
}

.font-jersey-25 {
  font-family: "Jersey 25", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@layer utilities {
  .bg-grid-layout {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(239, 239, 239, 1) 1px, transparent 1px),
      linear-gradient(to right, rgba(239, 239, 239, 1) 1px, transparent 1px),
      #ffffff;
    background-size:
      40px 40px,
      40px 40px,
      100% 40px;
    background-position:
      -10px -10px,
      -10px -10px,
      0 0;
    opacity: 0.5;
  }

  .bg-grid-fade {
    height: 100%;
    width: 100%;
    background: linear-gradient(#1b1a22, transparent);
  }
}
